body {
    padding-top: 30px;
    padding-bottom: 20px;
}

form .control-label {
    padding-top: 0px !important;
}

form .text-danger {
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
